name: Deploy Website Statis

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Membuat folder deploy
      run: mkdir -p 2405113_WEBSITE_TUGAS

    - name: Copy file index.html ke folder deploy
      run: cp index.html 2405113_WEBSITE_TUGAS/
